 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}


body {
    font-family: Arial, sans-serif;
    background: #f8f9fa;
    color: #222;
    line-height: 1.6;
}

header {
    background: #111827;
    position: sticky;
    top: 0;
    z-index: 1000;
}


.navbar {
    max-width: 1200px;
    margin: auto;
    padding: 18px 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    color: white;
    font-size: 28px;
}


.logo span {
    color: #f97316;
}


.nav-links {
    list-style: none;

    display: flex;
    gap: 30px;
}


.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


.nav-links a:hover {
    color: #f97316;
}


.menu-icon {
    display: none;
    color: white;
    font-size: 28px;
    cursor: pointer;
}

.hero {
    min-height: 90vh;
    max-width: 1200px;
    margin: auto;
    padding: 80px 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}


.hero-text {
    max-width: 600px;
}


.welcome {
    color: #f97316;
    font-weight: bold;
    letter-spacing: 2px;
}


.hero h1 {
    font-size: 55px;
    margin: 15px 0;
}


.hero h1 span {
    color: #f97316;
}


.hero h2 {
    font-size: 25px;
    margin-bottom: 20px;
}


.hero-text p {
    font-size: 18px;
}


.btn {
    display: inline-block;
    margin-top: 25px;
    padding: 12px 25px;

    background: #f97316;
    color: white;

    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
}


.btn:hover {
    background: #ea580c;
}


.profile-circle {
    width: 280px;
    height: 280px;

    border-radius: 50%;

    background: #111827;
    color: #f97316;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 70px;
    font-weight: bold;

    border: 10px solid #f97316;
}

.section {
    max-width: 1200px;
    margin: auto;
    padding: 80px 30px;
}


.section-title {
    text-align: center;
    font-size: 35px;
    margin-bottom: 50px;
}


.section-title::after {
    content: "";
    display: block;

    width: 60px;
    height: 4px;

    background: #f97316;

    margin: 12px auto;
}

.about-content {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}


.about-text {
    flex: 1;
}


.about-text h3 {
    font-size: 28px;
    margin-bottom: 20px;
}


.about-text p {
    margin-bottom: 15px;
}


.about-box {
    flex: 1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}


.about-box div {
    background: white;
    padding: 30px;
    text-align: center;

    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}


.about-box h3 {
    color: #f97316;
}

.skills-section {
    background: #eef2f7;
}


.skills-container {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}


.skill-card {
    background: white;
    padding: 30px;

    border-radius: 10px;

    text-align: center;

    transition: transform 0.3s;
}


.skill-card:hover {
    transform: translateY(-8px);
}


.skill-card h3 {
    color: #f97316;
    margin-bottom: 10px;
}

.projects-container {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}


.project-card {
    background: white;
    padding: 30px;

    border-radius: 10px;

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);

    transition: transform 0.3s;
}


.project-card:hover {
    transform: translateY(-8px);
}


.project-icon {
    font-size: 35px;
    color: #f97316;
    font-weight: bold;
}


.project-card h3 {
    margin: 15px 0;
}


.project-card span {
    display: inline-block;
    margin-top: 15px;

    color: #f97316;
    font-size: 14px;
}

.education-section {
    background: #eef2f7;
}


.education-card {
    background: white;
    padding: 35px;

    text-align: center;

    border-radius: 10px;
}


.education-card h3 {
    color: #f97316;
}

.contact-section {
    text-align: center;
}


.contact-info {
    margin-top: 25px;
}

footer {
    background: #111827;
    color: white;

    text-align: center;
    padding: 25px;
}

@media (max-width: 768px) {

    .nav-links {
        display: none;

        flex-direction: column;

        position: absolute;

        top: 70px;
        left: 0;

        width: 100%;

        background: #111827;

        padding: 20px;

        text-align: center;
    }


    .nav-links.active {
        display: flex;
    }


    .menu-icon {
        display: block;
    }


    .hero {
        flex-direction: column;
        text-align: center;
    }


    .hero h1 {
        font-size: 40px;
    }


    .about-content {
        flex-direction: column;
    }


    .skills-container {
        grid-template-columns: 1fr;
    }


    .projects-container {
        grid-template-columns: 1fr;
    }


    .about-box {
        grid-template-columns: 1fr;
    }

}